body{
    background-color: black;
    color:black;
    font-family: cursive;
    text-align: center;
    padding: 50px;
}
h1{
    font-size: 35px;
    margin-bottom: 40px;
    color: aliceblue;
}
.box{
    background: linear-gradient(135deg,black,white,rgb(209, 11, 163));
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 15px rgba(255,255, 255, 0.2);

}
label{
    display: block;
    margin-top: 15px;
    font-size: 18px;
}
input{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
