
.stories-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}




.story-card {
  background-color: var(--clr-grey-3);
  width: 300px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.story-card:hover {
  transform: scale(1.05);
  opacity: 1;
  background-color: rgb(248, 247, 247);
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
}

.story-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative 25%;
}
.story-img::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0));
}
.story-content{
    padding: 20px;
    text-align: center;
    font-family: "satisfy";
    color: black;

}
.story-content h3{
    font-size: 20px;
    color: var(--clr-primary);
    margin-bottom: 10px;
}
.story-content p{
    font-size:16px;
    line-height:1.6;
    color:#424242;
}

.story-card {
    transition: transform 0.4s ease, opacity 0.4s ease;
    background-color: var(--clr-grey-3);
     box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
     padding-top: 2%;
     padding-bottom: 2%;
}

.story-card:hover {
    transform: scale(1.2);
    opacity: 1.0;
    background-color: rgb(248, 247, 247); 
    outline: 0.125rem solid var(--clr-primary);
    outline-offset: 0.25rem;
    
    
}

.section-titles{
    font-family: "satisfy";
    text-align: center;
    font-size: xx-large;
}
.story-card {
  text-decoration: none;
  color: inherit;
}

.story-card h3,
.story-card p {
  text-decoration: none;
}

